.popup__panel {
    margin: 0 auto;
    width: 430px;
    padding-left: 36px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .popup__panel {
        width: 282px;
        padding-left: 19px;
        padding-bottom: 5px;
    }
  }