.popup__save {
    padding: 0;
    border: none;
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    margin: 48px 0 37px 0;
    cursor: pointer;
}

.popup__save:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .popup__save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px 0 25px 0;
    }
  }