.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    padding-bottom: 60px;
}

@media (max-width: 600px) {
    .footer__copyright {
        max-width: 320px;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 36px;
    }
  }