.popup__save_disabled {
    padding: 0;
    border: none;
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid;
    margin: 40px 0 35px 0;
    cursor: pointer;
}


