.profile__info {
    display: grid;
    gap: 16px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .profile__info {
        grid-template-columns: 189px 18px;
        gap: 10px;
        padding-top: 22px;
    }
  }