.elements__like {
    width: 22px;
    height: 19px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    background-image: url(../../../images/like-icon.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.elements__like:hover {
    opacity: 0.5;
}