.element {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px; 
}

  
  @media (max-width: 900px) {
    .element {
        grid-template-columns: 282px 1fr;
        gap: 14px;
        place-items: center;
    }
  }
  
  @media (max-width: 600px) {
    .element {
        grid-template-columns: 1fr;
    }
  }