.popup__save {
    padding: 0;
    border: none;
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    margin: 30px 0 35px 0;
    cursor: pointer;
}

.popup__save:hover {
    opacity: 0.8;
}

.popup__save-image-updating {
    margin: 48px 0 36px 0;
}

@media (max-width: 600px) {
    .popup__save {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin: 25px 0 25px 0;
    }
  }